.img-container{
    width: 40%;
  }
  
  #image_incident{
    width: 100%;
  }
  .accordion-body{
    display: flex;
    justify-content: space-between;
  }
  .text-container{
    width: 50%;
    padding: 0.2rem;
  }
  .rm-margin{
    margin-top: 1rem;
  }
  #m1,#m2,#m0{
    padding-top: 70px;
  }
.input{
    text-align: center;
    margin: 100px auto;
  }
  input[type="submit"]{
    padding: 12px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: white;
    border: none;
    margin: 50px auto;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    font-size:20px;
  }
  #weather_desc {
    font-size: 25px;
  }
  
  #weather_icon {
    font-size: 50px;
  }
  @media only screen and (min-width: 300px) and (max-width:999px){
    #hide{
        display: none;
    }
    .img-container,.text-container{
        width: 100% !important;
    }
    .container{
        max-width: 95% !important;
        margin: auto;
    }
    .input_text{
        width: 90% !important;
        margin: auto;
    }
    .submit{
        margin-top: 10px;
    }
    .input{
        margin: 50px auto !important;
    }
    .card{
        width: 100% !important;
    }
    .accordion-body {
        display: block;
    }
    body{
        width: fit-content !important;
    }
  }